# fly.toml app configuration file generated for hypetix-sql-rough-glade-5182 on 2026-02-19T01:19:32+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hypetix-sql-rough-glade-5182'
primary_region = 'fra'

[experimental]
  auto_rollback = true

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '10000'

[[services]]
  protocol = 'tcp'
  internal_port = 10000

  [[services.ports]]
    port = 10000
    handlers = ['http']

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [[services.ports]]
    port = 80
    handlers = ['http']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
